<style>
.message {
  background-color: #ddd;
  margin: 10px 0px;
	padding: 5px;
  display: block;
}

.message:hover {
  background-color: #eee;
}

.sender-info {
  float: left;
  border: 1px solid black;
}

.message-info {
  float: right;
  width: 540px;
}

.message-info .float-left {
  float: left;
  width: 350px;
}

.message-info .float-right {
  float: right;
  width: 175px;
}

.user-pic {
  display: block;
  width: 75px;
  height: 75px;
  padding: 5px;
}

.user-link {
  display: block;
  padding: 5px 0px 5px 5px;
}

.subject-line {
  display: block;
  padding: 5px 0px 5px 5px;
}

</style>

<main class="group content">

  <% if flash[:errors] %>
    <%= render 'shared/errors' %>
  <% elsif flash[:notices] %>
    <%= render 'shared/flashes' %>
  <% end %>

  <h1>Your inbox</h1>

  <% if @messages.empty? %>
    No messages to display
  <% else %>
    <%= render 'messages', messages: @messages %>
  <% end %>

  <% if @friends[0] %>
    <%= render 'new_message', friends: @friends %>
  <% end %>
</main>