<style>
.message {
  background-color: #ddd;
  margin: 10px 0px;
	padding: 5px;
  display: block;
}

.message:hover {
  background-color: #eee;
}

.sender-info {
  float: left;
}

.message-info {
  float: right;
  width: 540px;
}

.message-info .float-left {
  float: left;
  width: 400px;
}

.message-info .float-right {
  float: right;
  border: 1px solid black;
  margin: 10px 5px 0px 5px;
}

.user-pic {
  display: block;
  width: 75px;
  height: 75px;
  padding: 5px;
}

.user-link {
  display: block;
  padding: 5px 0px 5px 5px;
}

.subject-line {
  display: block;
  padding: 5px 0px 5px 5px;
}

.delete-button {
  width: 125px;
  float: right;
  padding: 22px 0px;
}

.button_to {
	padding: 0px;
	margin: 0px;
}

#new-message {
  background-color: #ddd;
  padding: 10px auto;
}

#new-message input {
  width: 550px;
  padding: 5px 10px;
}

#message-body > input {
  height: 100px;
  vertical-align: baseline;
}

#new-message > div {
  padding: 10px 0px;
}

#new-message label {
  padding: 5px 0px;
}

</style>

<main class="group content">
  <%= render 'shared/flashes' %>
  <h1>Your inbox</h1>

  <% if @messages.empty? %>
    No messages to display
  <% else %>
    <%= render 'messages', messages: @messages %>
  <% end %>

  <% if @friends[0] %>
    <%= render 'new_message', friends: @friends %>
  <% end %>
</main>