<!-- Insert Logo Here
Insert Navbar here -->

<h2>Welcome! Please sign in</h2>

<form id="login" action="<%= session_url %>" method="post">
  <%= form_auth %>
  <p>
  <label>Username or E-mail Address
    <input type="text" name="user[identifier]">
  </label>
  </p>

  <p>
  <label>Password
    <input type="password" name="user[password]">
  </label>
  </p>

  <input type="submit" value="Sign In!">
</form>
<!-- Insert footer here -->