<%= render 'shared/title', page_title: "Weigh In" %>

<main class="group content">
  <form action="<%= weigh_ins_url %>" method="POST">
    <%= form_auth %>
    <h1>Current Weight</h1>

    <div>
      <input type="text" name="current_wt">
    </div>

    <div>
      <input type="submit" class="button" value="Check-in!">
    </div>

  </form>
</main>