<form action="<%= search_daily_entries_url %>">
  <%= form_auth %>
  <label for="entry-date">Select a date</label>
  <input id="entry-date" type="date", name="entry[date]">
  <input type="submit" class="button" value="Search">
</form>