<div class="container" id="home">
  <h2>This is the home page!</h2>

  <article class="group full">
    <h3>Daily Summary</h3>
  </article>

  <article class="group full">
    <h3>News Feed</h3>
  </article>
</div>