<main class="group content">

<h2>This is the home page!</h2>

<% if current_user %>
  <article class="group full">
    <h3>Daily Summary</h3>
  </article>

  <article class="group full">
    <h3>News Feed</h3>
  </article>

  <% if current_user.goal %>
    <% button = "<button class='button'>Update your goals!</button>" %>
    <% url = edit_goal_url(current_user.goal) %>
  <% else %>
    <% button = "<button class='button'>Create a goal!</button>" %>
    <% url = new_user_goal_url(current_user) %>
  <% end %>

  <%= link_to button.html_safe, url %>

<% end %>
</main>