<main class="group content">
<%= render 'shared/flashes' %>

<h2>This is the home page!</h2>

<% if current_user %>
  <article class="group full">
    <h3>Daily Summary</h3>
  </article>

  <article class="group full">
    <h3>News Feed</h3>
  </article>

  <p><%= link_to "Food Diary", diary_user_url(current_user) %></p>

  <%= render 'shared/goal_button' %>

<% end %>
</main>