<style>
#user-info {
  float: left;
  width: 100px;
}

#user-picture {
  display: block;
  border: 1px solid black;
  width: 75px;
  height: 75px;
  margin: 10px;
}

#pounds-lost {
  display: block;
  border: 1px solid black;
  width: 75px;
  margin: 10px;
}

#food-info {
  float: right;
  width: 525px;
  border: 1px solid black;
  margin: 10px 20px 10px 0px;
}

.full header {
  display: block;
  background-color: navy;
  color: white;
}

#calorie-box {
  float: left;
  width: 375px;
}

#buttons {
  float: right;
}

#calories {
  font-size: 24px;
  display: block;
}

#calorie-caption {
  display: block;
}

#calorie-breakdown {
  display: block;
  padding: 10px 0px;
}

#calorie-breakdown li {
  display: inline;
}

</style>

<main class="group content">
<%= render 'shared/flashes' %>


<% if current_user %>

  <%= render 'daily_summary' %>

  <%= render 'news_feed' %>

  <%= render 'shared/goal_button' %>

<% else %>
  Sign in or create a new account!
<% end %>

</main>