<main class="group content">

<h2>This is the home page!</h2>

<% if current_user %>
  <article class="group full">
    <h3>Daily Summary</h3>
  </article>

  <article class="group full">
    <h3>News Feed</h3>
  </article>

  <a href="users/<%= current_user.id %>/goals/new">
  <button class='button'>Update your goals!</button>
  </a>
<% end %>

</main>