<main class="group content">
  <%= render 'shared/errors' %>
  <%= render 'shared/flashes' %>

  <% if current_user %>

    <%= render 'homepage/signed_in_user', friends: @friends, feed_items: @feed_items %>

  <% else %>

    <%= render 'homepage/not_signed_in' %>

  <% end %>

</main>