<main class="group content">

  <%= render 'shared/errors' %>
  <%= render 'shared/flashes' %>

  <h1>User Index Page</h1>

  <% @users.each do |user| %>
    <% next if user.id == current_user.id %>
    <section class="group user-index">
      <%= render 'shared/friend_info', friend: user %>

      <%= render 'shared/friend_buttons', user: user %>
    </section>
  <% end %>
</main>