<style>
.user-index {
	display:block;
	width:650px;
	border: 1px solid #bbb;
	background-color: #ddd;
	margin: 10px 0px;
	padding: 5px;
}

.user-index:hover {
	background-color: #eee;
}

.user-info {
	float: left;
	width: 499px;
}

.friend-buttons {
	float: right;
	width: 148px;
}

.user-info > .float-left {
	float: left;
	width: 120px;
}

.user-info > .float-right {
	float: right;
	width: 375px;
}

.button_to {
	padding: 0px;
	margin: 0px;
}
</style>

<main class="group content">
  <h1>User Index Page</h1>

  <% @users.each do |user| %>
    <% next if user.id == current_user.id %>
    <section class="group user-index">
      <%= render 'shared/friend_info', friend: user %>

      <%= render 'shared/friend_buttons', user: user %>
    </section>
  <% end %>
</main>