<section class="left searchInput">
  Search the food database
  <form id="foodForm" action="" method="get" class="group">
    <%= form_auth %>
    <input type="text" name="food[name]">
    <p><input class="button" type="button" action="submit" value="Find foods"></p>
  </form>
</section>

<section class="right searchDisplay">
  Nutrition Facts
</section>

<section class="left searchMatch">
  Matching Foods
</section>

