<section class="left searchInput">
  Search the food database
  <form id="foodForm"
    action="<%= search_foods_url %>"
    method="get"
    class="group">

    <%= form_auth %>
    <input type="text" name="food[name]">
    <p><input class="button" type="submit" value="Find foods"></p>
  </form>
</section>

<section class="right searchDisplay">
  Nutrition Facts
</section>

<section class="left searchMatch">
  <h3>Matching Foods</h3>
  <% if @foods %>

    <% if @foods.empty? %>
    No matches found!
    <% else %>
    <ul>
      <% @foods.each do |food| %>
        <li><%= food.name %></li>
      <% end %>
    <% end %>
    </ul>
  <% end %>
</section>

