<h1>Matching Foods</h1>
<% if foods %>

  <% if foods.empty? %>
    No matches found!
  <% else %>
  <ul>
    <% foods.each do |food| %>
      <li><%= link_to "#{food.name}", food_url(food, { entry: params[:daily_entry_id] }) %></li>
    <% end %>
  <% end %>
  </ul>
<% end %>