<form id="foodForm"
  action="<%= @entry ? search_daily_entry_foods_url(@entry) : search_foods_url %>"
  method="get"
  class="group">

  <%= form_auth %>
  <input type="text" name="food[name]">
  <p><input class="button" type="submit" value="Find foods"></p>
</form>