<% if current_goal %>
  <% button = "Update your goals!" %>
  <% url = edit_goal_url(current_goal) %>
<% else %>
  <% button = "Create a goal!" %>
  <% url = new_goal_url %>
<% end %>

<form action="<%= url %>">
  <%= form_auth %>
  <input type="submit" class="button" value="<%= button %>">
</form>