<header>
  <div id="imageToHome">
    <%= link_to image_tag("logo.png", size: "340x126"), root_url %>
  </div>

  <ul>
    <li>Hi, <%= current_user.username %>!</li>
    <li>Link to Messages (with image)</li>
    <li>Link to Help Page</li>
    <li>Link to Settings</li>
    <li><%= link_to "Sign Out", session_url, method: :delete %></li>
  </ul>
</header>