<nav class="group" id="mainNav">
  <section class="group" id="navContent">
    <ul class="group">
      <li>My Home
        <div class="group subContent">
          <ul>
            <li>Home</li>
            <li>Goals</li>
            <li>Check-in</li>
            <li>Profile</li>
            <li>Friends</li>
            <li>Settings</li>
          </ul>
        </div>
      </li>

      <li>Food
        <!-- <div class="group subContent">
          <ul>
            <li>Food Diary</li>
            <li>Database</li>
            <li>My Foods</li>
            <li>My Meals</li>
            <li>Recipes</li>
            <li>Settings</li>
          </ul>
        </div> -->
      </li>

      <li>Exercise
        <!-- <div class="group subContent">
          <ul>
            <li>Exercise Diary</li>
            <li>Database</li>
            <li>My Exercises</li>
            <li>Settings</li>
          </ul>
        </div> -->
      </li>

      <li>Reports
      </li>
    </ul>
  </section>
</nav>