<nav id="mainNav">
  <section>
    <ul>
      <li>My Home
        <ul class="subNav">
          <li>Home</li>
          <li>Goals</li>
          <li>Check-in</li>
          <li>Mail</li>
          <li>Profile</li>
          <li>Friends</li>
          <li>Settings</li>
        </ul>
      </li>

      <li>Food
        <ul class="subNav">
          <li>Food Diary</li>
          <li>Database</li>
          <li>My Foods</li>
          <li>My Meals</li>
          <li>Recipes</li>
          <li>Settings</li>
        </ul>
      </li>

      <li>Exercise
        <ul class="subNav">
          <li>Exercise Diary</li>
          <li>Database</li>
          <li>My Exercises</li>
          <li>Settings</li>
        </ul>
      </li>

      <li>Reports
      </li>
    </ul>
  </section>
</nav>