<h1>Look at all the cool stuff you can do with my app!</h1>

<ul>
  <li>Keep a food diary</li>
  <li>Find friends</li>
  <li>Set your goals</li>
  <li>Track your progress</li>
</ul>

Sign in or sign up now!