<main class="group content">
  <form action="<%= check_ins_url %>" method="POST">
    <%= form_auth %>
    <label for="current_wt">Current Weight</label>
    <input type="text" name="current_wt">
    <input type="submit" class="button" value="Check-in!">
  </form>
</main>