<style>

#food-form {
  width: 300px;
}
.search-input {
  float: left;
  width: 300px;
}

.search-match {
  margin-top: 25px;
}

.search-match h1 {
  display: block;
  background-color: navy;
  color: white;
  border: 1px solid black;
  font-size: 24px;
  padding: 10px;
  margin: 10px 0px;
}

.search-match li {
  font-size: 16px;
  padding: 10px;
}

.search-match li:hover {
  background-color: #eee;
}

.right-search-display {
  float: right;
  width: 325px;
}

#search-top {
}

</style>

<main class="group content">
  <div id="search-top" class="group">
    <section class="search-input">
      <%= render 'shared/food_search' %>
    </section>

    <section class="right-search-display">
      <%= image_tag "veggiebasket.png", size: "300x227" %>
    </section>
  </div>

  <section class="search-match">
    <%= render 'shared/food_match', foods: @foods %>
  </section>
</main>