<style>
</style>
<main class="group content">
  <div id="search-top" class="group">
    <section class="search-input">
      <%= render 'shared/food_search' %>
    </section>

    <section class="right-search-display">
      <%= image_tag "veggiebasket.png", size: "300x227" %>
    </section>
  </div>

  <section class="search-match">
    <% if @foods %>
      <% if @foods.empty? %>
        No matches found!
      <% else %>

      <h1>Matching Foods</h1>

      <div class="food-matches">
        <ul>
          <%= render @foods %>
        </ul>
      </div>

      <%= paginate @foods, window: 3 %>

      <% end %>
    <% end %>
  </section>
</main>