<main class="group content">
  <section class="searchInput">
    Search the food database
    <%= render 'shared/food_search' %>
  </section>

  <!-- <section class="right searchDisplay">
  </section> -->

  <section class="searchMatch">
    <h3>Matching Foods</h3>
    <% if @foods %>

      <% if @foods.empty? %>
      No matches found!
      <% else %>
      <ul>
        <% @foods.each do |food| %>
          <%= link_to "<li>#{food.name}</li>".html_safe, food_url(food, { food: params[:food] }) %>
        <% end %>
      <% end %>
      </ul>
    <% end %>
  </section>
</main>