<main class="group content">
  <div id="search-top" class="group">
    <section class="search-input">
      <%= render 'shared/food_search' %>
    </section>

    <section class="right-search-display">
      <%= image_tag "veggiebasket.png", size: "300x227" %>
    </section>
  </div>

  <section class="search-match">
    <%= render 'shared/food_match', foods: @foods %>
  </section>
</main>