<table class="fitness-goals">

  <thead class="group">
    <th class="first">Nutrition Goals</th>
    <th class="second">Goals</th>
  </thead>

  <tr class="group">
    <td class="first">Net calories per day</td>
    <td class="second"><%= goal.calorie_goal %></td>
  </tr>

  <tr class="group">
    <td class="first">Carbohydrates</td>
    <td class="second"><%= carbs %> g</td>
  </tr>

  <tr class="group">
    <td class="first">Protein</td>
    <td class="second"><%= protein %> g</td>
  </tr>

  <tr class="group">
    <td class="first">Fat</td>
    <td class="second"><%= fat %> g</td>
  </tr>

</table>