<main class="group content">
  <form class="group"
    action="<%= user_goals_url(current_user) %>"
    method="POST">

  <h1>Update your goals</h1>

    <%= form_auth %>

    <%= render 'shared/goal_form' %>

      <input type="submit" class="button" value="Update goals">

  </form>

  <section>
    <!-- Or <%= link_to "Customize your goals", "#" %> -->
  </section>
</main>