<main class="group content">
  <form class="group"
    action="<%= user_goals_url(current_user) %>"
    method="POST">
  <h1>Create a new goal</h1>

    <%= form_auth %>

    <%= render 'shared/goal_form' %>

      <input type="submit" class="button" value="Create a Goal">

  </form>
</main>