<main class="group content">
  <form class="group"
    action="<%= user_goals_url(current_user) %>"
    method="POST">
  <h2>Create a new goal</h2>

    <%= form_auth %>

    <%= render 'shared/goal_form' %>
    <p>
      <input type="submit" class="button" value="Create a Goal">
    </p>

  </form>
</main>