/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

html, body, header, nav, h1, ul, li, div {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style-type: none;
}

a {
  text-decoration: none;
}


/* General Styling */

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.group:after {
  clear:both;
  content: "";
  display: block;
}

.content {
  width: 650px;
  margin: 20px auto;
  display: float;
  font-family: sans-serif;
}

.button {
  background-color: #31DE48;
  border-radius: 5px;
  font-size: 15px;
  border: 2px solid #2C8A39;
}

.button:hover {
  background-color: #2DCF43;
  border: 2px solid #F5F118;
}

/* General side-by-side display */

.tblHead {
  background-color: navy;
  color: white;
}

/* Symmetric side-by-side display */

.full {
  width: 650px;
  margin-bottom: 25px;
  border: 1px solid black;
}

.half {
  width: 300px;
  border: 1px solid black;
  margin: 10px auto;
}

.left {
  margin-right: 23px;
  float: left;
}

.right {
  margin-left: 23px;
  float: right;
}

/* Asymmetric side-by-side display */

.searchInput {
  width: 250px;
  border: 1px solid black;
}

.searchMatch {
  width: 250px;
  border: 1px solid black;
  margin-top: 25px;
}

.searchDisplay {
  width: 350px;
  border: 1px solid black;

}

@import 'forms';
@import 'diaries';
@import 'page_top'
