/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

/* Resets */

html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, time, ul, li, small,
form, label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input[type="text"],
input[type="submit"],
input[type="password"],
input[type="file"],
button,
textarea {
  display: block;
  box-sizing: content-box;
  margin: 5px 0px 0px 0px;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
}

/* General Styling */

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  display: block;
  background-color: navy;
  color: white;
  border: 1px solid black;
  font-size: 24px;
  padding: 10px;
  margin: 10px 0px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.group:after {
  clear:both;
  content: "";
  display: block;
}

.content {
  width: 650px;
  margin: 20px auto;
}

/* General side-by-side display */

.tblHead {
  background-color: navy;
  color: white;
  display: block;
  padding: 5px;
}

/* Symmetric side-by-side display */

.full {
  width: 650px;
  margin-bottom: 25px;
  border: 1px solid black;
}

.half {
  width: 300px;
  border: 1px solid black;
  margin: 10px auto;
}

.left {
  margin-right: 23px;
  float: left;
}

.right {
  margin-left: 23px;
  float: right;
}

/* Flashes */

#flash-errors {
  border: 1px solid red;
  background-color: #fCC;
  padding: 5px;
  margin: 20px 0px;
}

#flash-notices {
  border: 1px solid green;
  padding: 5px;
  margin: 20px 0px;
  background-color: #cfc;
}

@import 'forms';
@import 'page_top';
@import 'daily_entries';
@import 'links';
@import 'friends';
@import 'messages';
@import 'homepage';