// Place all the styles related to the DailyEntries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.totals {
  border-top: 1px solid black;
  border-bottom: 1px solid black;;
  display: block;
  margin: 10px 0px;
}

#food-diary > header {
  padding: 10px 0px;
}

#diary-totals {
  float: right;
  width: 300px;
}

#diary-entry {
  display:block;
}

#diary-entry h2 {
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
}

.meal {
  background-color: #ccc;
  margin: 10px 0px;
}

#food-diary table {
  display: block;
  text-align: center;
  background-color: #ccc;
}

#food-diary th {
  width: 75px;
  color: #fff;
  background-color: navy;
}

.food-name {
  float: left;
  width: 345px;
  font-size: 14px;
  margin: 5px 0px 5px 5px;
}

.nutrient-table {
  float: right;
  width: 297px;
}

.nutrient-table tbody {
  background-color: #ccc;
}

.nutrient-table td {
  width: 75px;
}

.add-food {
  text-align: right;
  width: 600px;
  position: absolute;
  top: -1px;
}

.one-meal {
  position: relative;
  margin: 20px 0px;
  padding: 10px 0px;
  border: 1px solid #ddd;
}

#archive {
  margin: 40px 0px;
}