// Place all the styles related to the diaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.totals {
  display: block;
}

#diary-totals {
  float: right;
  width: 300px;
}

#diary-entry {
  border: 1px solid black;
  display:block;
}

.meal {
  background-color: #ccc;
}

#food-entry > div.float-left {
  width: 300px;
}

#food-entry > div.float-right {
  width: 320px;
}

#food-entry > .float-left > li {
  display: inline;
  margin: 5px auto;
}

#food-entry > .float-right > li {
  display: inline;
  margin: 25px;
}

#food-entry {
  display: block;
  padding-top: 2px;
}

#food-diary table {
  display: block;
  text-align: center;
  background-color: #ccc;
}

#food-diary th {
  width: 75px;
  color: #fff;
  background-color: navy;
}

.food-name {
  float: left;
  width: 349px;
  font-size: 14px;
}

.nutrient-table {
  float: right;
  width: 299px;
}

.nutrient-table tbody {
  background-color: #ccc;
}

.nutrient-table td {
  width: 75px;
}