#food-form {
  width: 300px;
}
.search-input {
  float: left;
  width: 300px;
}

.search-match {
  margin-top: 25px;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

.search-match a {
  color: blue;
  text-decoration: none;
}

.search-match h1 {
  display: block;
  background-color: navy;
  color: white;
  border: 1px solid black;
  font-size: 24px;
  padding: 10px;
  margin: 10px 0px;
}

.search-match li {
  font-size: 16px;
  padding: 5px 10px;
}

.search-match li:hover {
  background-color: #eee;
}

.right-search-display {
  float: right;
  width: 325px;
}

.pagination {
  padding: 5px 0px;
  margin: 10px 5px;
}

.pagination span {
  border-radius: 10px;
  background-color: #eee;
  border: 1px solid black;
  margin: 5px;
  padding: 2px 6px;
  text-align: center;
}

.pagination span:hover {
  background-color: #ccc;
}

.food-matches {
  border-bottom: 1px solid #ccc;
}