// Place all the styles related to the Foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#foodForm > input {
  width: 200px;
  display: block;
  margin: 0px auto;
}