/* Top white strip */
#top-strip {
  display: block;
  background-color: white;
}

#top-strip-content {
  width: 650px;
  margin: 0px auto;
  height: 79px;
}

#logo {
  margin: 0px auto;
  float: left;
}

#user-links {
  margin: 0px auto;
  float: right;
}

#user-links > ul > li {
  float: left;
  display: block;
}

#user-links > ul > li > a {
  padding: 30px 15px;
  color: black;
  display: block;
}

#message-num {
  background: #333;
  color: #fff;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 7px;
  display: inline;
}

/* Middle blue strip */

  #main-nav {
    float: left;
  }

  #main-nav a {
    color: #FFF;
  }

  #main-nav > ul {
    width: 650px;
    height: 45px;
  }

  #main-nav > ul > div {
    display: inline;
    float: left;
    height: 45px;
    width: 150px;
  }

  #main-nav > ul > div > li {
    float: left;
    margin: 15px auto;
    color: white;
  }

  #middle-strip {
    display:block;
    font-family: sans-serif;
    background-color: blue;
  }

  #middle-strip-content {
    width: 650px;
    margin: 0px auto;
    height: 45px;
  }

/* Bottom most dark blue strip */

#sub-nav > li {
  float: left;
  display: inline;
  width: 100px;
}

#bottom-strip {
  display:block;
  font-family: sans-serif;
  background-color: navy;
}

#bottom-strip a {
  color: #FFF;
}

.bottom-strip-content {
  width: 650px;
  margin: 0px auto;
  height: 45px;
}

.sub-nav {
  color: white;
  display: inline;
}

.sub-nav > div {
  float: left;
  display: inline;
  height: 45px;
  width: 125px;
}

.sub-nav > div > li {
  float: left;
  display: inline;
  margin: 15px auto;
}