/* Middle blue strip */

  #main-nav {
    float: left;
  }

  #main-nav a {
    color: #FFF;
  }

  #main-nav > ul {
    width: 650px;
    height: 45px;
  }

  #main-nav > ul > div {
    display: inline;
    float: left;
    height: 45px;
    width: 125px;
  }

  #main-nav > ul > div > li {
    float: left;
    margin: 15px auto;
    color: white;
  }

  #middle-strip {
    display:block;
    font-family: sans-serif;
    background-color: blue;
  }

  #middle-strip-content {
    width: 650px;
    margin: 0px auto;
    height: 45px;
  }

/* Bottom most dark blue strip */

#sub-nav > li {
  float: left;
  display: inline;
  width: 100px;
}

#bottom-strip {
  display:block;
  font-family: sans-serif;
  background-color: navy;
}

#bottom-strip a {
  color: #FFF;
}

.bottom-strip-content {
  width: 650px;
  margin: 0px auto;
  height: 45px;
}

.sub-nav {
  color: white;
  display: inline;
}

.sub-nav > div {
  float: left;
  display: inline;
  height: 45px;
  width: 100px;
}

.sub-nav > div > li {
  float: left;
  display: inline;
  margin: 15px auto;
}