html, body, header, nav, h1, ul, li {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  list-style-type: none;
}

#mainNav {
  background-color: blue;
  color: white;
  display: block;
  margin-bottom: 10px;
  font-family: sans-serif;
}

#navContent {
  width: 650px;
  margin: auto;
}

#navContent > ul {
  margin: 0px;
  display: block;
}

#navContent > ul > li {
  float: left;
  margin: 10px 0px 0px 0px;
  width: 160px;
  position: relative;
}

.subContent {
  margin: 0px;
  background-color: navy;
  width: 650px;
}

.subContent > ul {
  display: block;
  padding: 10px;
}

.subContent > ul > a {
  color: white;
}

.subContent > ul > a > li {
  float: left;
  display: inline;
  width: 75px;
  margin: 10px auto;
}