html, body, header, nav, h1, ul, li {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
}

#mainNav {
  background-color: blue;
  color: white;
  display: block;
  margin-bottom: 10px;
  font-family: sans-serif;
}

#navContent {
  width: 650px;
  margin: auto;
  float: left;
}

#navContent > ul {
  list-style-type: none;
  float: left;
  margin: auto;
  display: inline;
  padding: 5px 20px;
}

#navContent > ul > li {
  float: left;
  display: inline;
  position: relative;
  text-align: center;
  width: 100px;
}

.subNav {
  display: none;
  background-color: #122499;
  position: absolute;
}

.subNav > li {
  display: inline;
  margin: 0px auto;
  padding: 5px;
}