// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#top-strip {
  display: block;
  background-color: white;
}

#top-strip-content {
  width: 650px;
  margin: 0px auto;
  height: 79px;
}

#logo {
  margin: 0px auto;
  float: left;
}

#user-links {
  margin: 0px auto;
  float: right;
}

#user-links > ul > li {
  float: left;
  display: block;
}

#user-links > ul > li > a {
  padding: 30px 15px;
  color: black;
  display: block;
}

#message-num {
  background: #333;
  color: #fff;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 7px;
  display: inline;
}