#user-profile {
	display:block;
	width:628px;
	border: 1px solid #bbb;
	background-color: #ddd;
	margin: 10px 0px;
	padding: 10px;
}

#user-icon {
  float: left;
}

#basic-info {
  float: right;
  width: 550px;
}

#user-asl {
  float: left;
  padding: 0px 5px;
}

#update-profile-button {
  float: right;
  width: 200px;
}

#profile-top {
  margin-bottom: 20px;
}

#user-details {
  border: 1px solid black;
}